{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listings in your watchlist</h2>

<div class="list-group">
    <!-- Loop through each listing -->
    {% for listing in watchlist %}
    <a href="{% url 'view_listing' listing.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex align-items-start">
            {% if listing.image %}
            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-thumbnail me-4"
                style="max-width: 250px; max-height: 250px;">
            {% endif %}
            <div>
                <h4 class="mb-2">{{ listing.title }}</h4>
                <h5 class="mb-2"><strong>Price:</strong> ${{ listing.current_bid }}</h5>
                <p class="mb-0">{{ listing.description|truncatewords:20 }}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <p>There is nothing to watch.</p>
    {% endfor %}
</div>

{% endblock %}